# Metrics

In [14]:
import pandas as pd

In [1]:
# Bring in the data
%store -r best_results
%store -r dt_results1
%store -r rf_results
%store -r svr_results
%store -r ab_results

### Linear Regression

In [2]:
best_results

,Model,Alpha,L1 Ratio,Training R2,Test R2,Training RMSE,Test RMSE
0,Linear,NA,NA,0.756279,0.734275,6055.905613,5978.637219
0,Ridge,0.001,NA,0.756279,0.734275,6055.905614,5978.642138
0,Lasso,0.001,NA,0.756279,0.734275,6055.905613,5978.638781
0,Elastic Net,0.001,0.2,0.756261,0.734043,6056.128399,5981.248036

### Decision Tree

In [3]:
dt_results1

,Criterion,Max_depth,Training R2,Test R2,Training RMSE,Test RMSE
0,squared_error,3,0.860714,0.836862,4578.104656,4684.505601
1,friedman_mse,3,0.860714,0.836862,4578.104656,4684.505601
2,absolute_error,3,0.847360,0.831217,4792.544650,4764.865460
3,poisson,3,0.663235,0.586406,7118.622571,7458.872129

### Random Forest

In [4]:
rf_results

   Estimators  Training R2   Test R2  Training RMSE    Test RMSE
0         500     0.865829  0.845451    4493.268535  4559.522879
1         400     0.865880  0.845482    4492.417071  4559.057922
2         300     0.865862  0.845445    4492.712024  4559.612126
3         200     0.865887  0.845213    4492.297084  4563.033507
4         150     0.865860  0.844992    4492.736316  4566.285567
5         100     0.865805  0.844913    4493.660845  4567.443590
6          75     0.865781  0.845111    4494.062035  4564.527144
7          50     0.865727  0.844993    4494.970282  4566.272178
8          25     0.865401  0.844018    4500.430107  4580.610101

### Support Vector Machine

In [5]:
svr_results

,Kernel,Degree,Gamma,Coeficient,C,Training R2,Test R2,Training RMSE,Test RMSE
0,poly,2,scale,0,1,-0.099704,-0.080650,12863.832512,12056.701488
1,poly,2,scale,1,1,-0.083851,-0.065198,12770.780856,11970.194244
2,poly,2,scale,2,1,-0.068042,-0.049790,12677.299724,11883.305085
3,poly,3,scale,0,1,-0.091238,-0.072945,12814.225031,12013.646196
4,poly,3,scale,1,1,-0.028645,-0.012944,12441.286803,11672.902666
5,poly,3,scale,2,1,0.074128,0.086344,11803.422526,11086.064765
6,poly,4,scale,0,1,-0.076322,-0.059224,12726.343680,11936.581476
7,poly,4,scale,1,1,0.108832,0.117104,11580.102750,10897.850985
8,poly,4,scale,2,1,0.457905,0.455633,9031.718227,8557.201523

### AdaBoost Decision Tree

In [6]:
ab_results

,Estimators,Learning Rate,Training R2,Test R2,Training RMSE,Test RMSE
0,250,0.0001,0.863211,0.840023,4536.886634,4638.898958
1,250,0.0010,0.863074,0.839777,4539.164894,4642.465370
2,250,0.0100,0.854671,0.826572,4676.372037,4829.988263
3,250,0.1000,0.836750,0.802858,4956.319767,5149.622936
4,250,1.0000,0.838946,0.799202,4922.875307,5197.159404
5,250,10.0000,0.019038,-0.185856,12149.509375,12629.961178

### Best models of each type

In [30]:
best_results1 = pd.DataFrame(best_results[:1][['Training R2','Test R2','Training RMSE','Test RMSE']])
dt_results2 = pd.DataFrame(dt_results1[:1][['Training R2','Test R2','Training RMSE','Test RMSE']])
rf_results1 = pd.DataFrame(rf_results[:2][['Training R2','Test R2','Training RMSE','Test RMSE']])
svr_results1 = pd.DataFrame(svr_results[:1][['Training R2','Test R2','Training RMSE','Test RMSE']])
ab_results1 = pd.DataFrame(ab_results[:1][['Training R2','Test R2','Training RMSE','Test RMSE']])

final_results = pd.concat([best_results1,dt_results2,rf_results1,svr_results1,ab_results1])

In [31]:
final_results = final_results.drop([1])

In [38]:
final_results['Model'] = ['Linear Regression', 'Decision Tree', 'Random Forest', 'Support Vector Machine', 'AdaBoost' ]
final_results = final_results.set_index('Model')
final_results

                        Training R2   Test R2  Training RMSE     Test RMSE
Model
Linear Regression          0.756279  0.734275    6055.905613   5978.637219
Decision Tree              0.860714  0.836862    4578.104656   4684.505601
Random Forest              0.865829  0.845451    4493.268535   4559.522879
Support Vector Machine    -0.099704 -0.080650   12863.832512  12056.701488
AdaBoost                   0.863211  0.840023    4536.886634   4638.898958

In [39]:
# Save data for use in documentation
%store final_results

Stored 'final_results' (DataFrame)